FLASK_APP=run:application
FLASK_ENV=development
SECRET_KEY=change-me

# MySQL Connection String
DATABASE_URL=mysql+pymysql://username:password@localhost/food_delivery

# Razorpay credentials (Test mode)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

UPLOAD_FOLDER=app/static/uploads
